/* DashboardComponent's private CSS styles */
.landing-view {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.landing-view .landing-image {
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; /* You must set a specified height */
  width:100%;
  /* background-position: center; /* Center the image */
}

.social-media-group {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}

.social-media-icon {
  display: block;
  padding: 10px;
  width: 50px;
  /* left: 20px; */
}

.landing-view h1 {
  font-size: 100px;
  color: white;
  position: absolute;
  top: 5%;
  left: 2%;
}
